<template>
  <div class="playlist" v-if="playlist">
    <div class="list">
      <div class="item song" v-for="track in playlist.tracks" :key="track.id">
        <img
          v-if="track.album.images[0]"
          :src="track.album.images[0].url"
          alt=""
        />
        <font-awesome-icon class="no-image" icon="user-astronaut" v-else />
        <div class="text">
          <div class="name">{{ track.name }}</div>
          <div class="artist">
            {{ track.artists[0].name }} - {{ track.album.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import getGraphqlClient from "@/lib/getGraphqlClient.js";
import { getPlaylist } from "@/lib/graphql/queries";

export default {
  name: "Playlist",
  created() {
    this.getPlaylist();
  },
  data() {
    return {
      playlist: null
    };
  },
  methods: {
    getPlaylist() {
      return getGraphqlClient()
        .query({
          query: getPlaylist,
          variables: {
            id: this.$route.params.id
          }
        })
        .then(({ data: { playlist } }) => {
          console.log(playlist);
          this.playlist = playlist;
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.list {
  display: grid;
  grid-template-rows: 1fr;

  .item {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 3rem 1fr;
    color: $nord4;

    .text {
      .name {
        font-size: 1rem;
      }
      .artist {
        padding: 0.1rem;
        font-size: 0.7rem;
      }
      padding-left: 1rem;
      align-self: center;
    }

    img,
    .no-image {
      height: 3rem;
      width: 3rem;
      margin: 0 0.5rem 0 0;
      border-radius: 100%;
    }
  }
}
</style>
