<template>
  <div class="playlists" v-if="playlists">
    <div class="list">
      <div
        class="playlist item"
        v-for="playlist in playlists"
        :key="playlist.id"
        @click="goToPlaylist(playlist.id)"
      >
        <img v-if="playlist.images[0]" :src="playlist.images[0].url" alt="" />
        <div class="text">
          <div class="name">{{ playlist.name }}</div>
          <div class="by">by {{ playlist.owner.display_name }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "Playlists",
  computed: {
    ...mapState("user", {
      playlists: state =>
        state.services.spotify.me && state.services.spotify.me.playlists
    })
  },
  methods: {
    goToPlaylist(id) {
      this.$router.push({ name: "playlist", params: { id } });
    }
  }
};
</script>

<style lang="scss" scoped>
.playlists {
  .list {
    display: grid;
    grid-template-rows: 1fr;

    .item {
      padding: 0.5rem;
      display: grid;
      grid-template-columns: 4rem 1fr;
      color: $nord4;

      .text {
        .name {
          font-size: 1.1rem;
        }
        padding-left: 1rem;
        align-self: center;
      }

      img,
      .no-image {
        height: 4rem;
        width: 4rem;
        margin: 0 0.5rem 0 0;
        border-radius: 100%;
      }
    }
  }
}
</style>
