<template>
  <div class="artist-page" v-if="artist">
    <ImageParallax :img="artist.images[0].url"></ImageParallax>
    <div class="artist-name">
      <div>{{ artist.name }}</div>
    </div>

    <div class="top-tracks">
      <h4>Top tracks</h4>
      <ul class="list">
        <li
          class="item"
          v-for="(track, index) in topFive"
          :key="track.id"
          @click="playNow(track.id)"
        >
          <span class="number">{{ index + 1 }}</span>
          <span class="name">
            {{ track.name }}
          </span>
        </li>
      </ul>
    </div>

    <div class="albums">
      <h4>Albums</h4>
      <ul class="list">
        <li
          class="item album"
          v-for="album in artist.albums"
          :key="album.id"
          @click="goToAlbum(album.id)"
        >
          <img v-if="album.images[0]" :src="album.images[0].url" alt="" />
          <span class="name">{{ album.name }}</span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import ImageParallax from "@/components/ImageParallax";

import getGraphqlClient from "@/lib/getGraphqlClient";
import { getArtist } from "@/lib/graphql/queries";

export default {
  components: {
    ImageParallax
  },
  data() {
    return {
      artist: null
    };
  },
  computed: {
    topFive() {
      return this.artist.topTracks.slice(0, 5);
    }
  },
  methods: {
    playNow(id) {
      const url = `http://localhost:5005/Living Room/spotify/now/spotify:track:${id}`;
      fetch(url);
    },
    goToAlbum(id) {
      this.$router.push({ name: "album", params: { id } });
    },
    getArtist() {
      return getGraphqlClient()
        .query({
          query: getArtist,
          variables: {
            id: this.$route.params.id
          }
        })
        .then(({ data: { artist } }) => {
          this.artist = artist;
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  created() {
    this.getArtist();
  }
};
</script>

<style lang="scss" scoped>
.artist-name {
  font-size: 36px;
  margin-top: -100px;
  margin-bottom: 3rem;
  text-align: center;
  transition: 0.2s opacity cubic-bezier(0.39, 0.575, 0.565, 1);
  position: relative;
}

h4 {
  text-align: center;
}
#img {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.list {
  .item {
    display: grid;
    grid-template-columns: 1rem 1fr;
    padding: 0.5rem 1rem;
    color: $nord4;

    &.album {
      grid-template-columns: 4rem 1fr;

      .name {
        align-self: center;
        padding: 1rem;
      }
    }

    .name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 1rem;
    }

    img {
      height: 4rem;
      width: 4rem;
      margin: 0 0.5rem 0 0;
      border-radius: 100%;
    }

    .number {
      font-size: 0.6rem;
      align-self: center;
    }
    padding-left: 1rem;
  }
}
</style>
