@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro|Ubuntu|Lato");
@import "node_modules/nord/src/sass/nord.scss";

body {
  font-family: "Lato", sans-serif;
  color: $nord4;
}

input {
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  color: $nord4;
  background-color: $nord3;
  padding: 0.5rem;

  &::placeholder {
    color: $nord4;
    opacity: 1;
    width: 100%;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: $nord4
}