<template>
  <div class="settings">
    <h4>Connect your music</h4>
    <SpotifyConnect></SpotifyConnect>
  </div>
</template>

<script>
import SpotifyConnect from "@/components/SpotifyConnect";

export default {
  name: "Settings",
  components: {
    SpotifyConnect
  },
  data() {
    return {};
  }
};
</script>

<style lang="scss" scoped>
.settings {
  display: grid;
  grid-template-rows: auto repeat(auto-fill, 6rem);
  grid-gap: 1.5rem;

  h4 {
    justify-self: center;
  }
}
</style>
