<template>
  <div>
    <router-link to="/playlists" active-class class="nav-item">
      <font-awesome-icon icon="music" size="2x" />
      Playlists
    </router-link>

    <router-link to="/albums" active-class class="nav-item">
      <font-awesome-icon icon="music" size="2x" />
      Albums
    </router-link>
  </div>
</template>

<script>
export default {};
</script>

<style scoped></style>
