<template lang="html">
    <footer class="main-foot">
        <app-navigation></app-navigation>
    </footer>
</template>

<script>
import Navigation from '@/components/Navigation'
export default{
components: {
    appNavigation: Navigation
  },
}
</script>

<style lang="css">
</style>