<template lang="html">
  <div class="main-head">{{ this.$route.name }}</div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.main-head {
  font-family: "Ubuntu", sans-serif;
  text-transform: capitalize;
  color: white;
  text-align: center;
  padding: 10px 0px;
}
</style>
