<template>
  <div
    ref="image"
    id="img"
    :style="{
      backgroundImage: `url(${img})`,
      opacity
    }"
    class="parallax"
  ></div>
</template>

<script>
export default {
  props: {
    img: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      observer: null,
      opacity: null
    };
  },
  mounted() {
    const steps = Array(20)
      .fill(0)
      .map((value, index) => (index + 1) / 20);

    const options = {
      root: document.getElementById("content"),
      rootMargin: "0px",
      threshold: steps
    };

    this.observer = new IntersectionObserver(this.handleScroll, options);
    this.observer.observe(this.$refs.image);
  },
  methods: {
    handleScroll(entries) {
      entries.forEach(entry => {
        this.opacity = entry.intersectionRatio;
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.parallax {
  min-height: 300px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.2s opacity cubic-bezier(0.39, 0.575, 0.565, 1);
}
#img {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
</style>
