<template lang="html">
  <div id="nav" class="main-nav">
    <router-link to="/" active-class class="nav-item"
      ><font-awesome-icon icon="home"
    /></router-link>
    <router-link to="/search" active-class class="nav-item"
      ><font-awesome-icon icon="search"
    /></router-link>
    <router-link to="/settings" active-class class="nav-item"
      ><font-awesome-icon icon="user"
    /></router-link>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.main-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.nav-item {
  padding: 10px;
  text-decoration: none;
}
.router-link-exact-active,
a:hover {
  color: $nord8 !important;
}
</style>
