<template>
  <div class="wrapper">
    <input
      type="range"
      min="0"
      step="1000"
      :max="duration"
      v-model="model"
      :style="{ '--percentage-elapsed': percentageElapsed }"
    />
    <div class="time">
      <span class="elapsed">{{ timeElapsed }}</span>
      <span class="remaining">{{ timeRemaining }}</span>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      model: 0,
      duration: 180000
    };
  },
  computed: {
    timeRemaining() {
      return this.convertMilliseconds(this.duration - this.model);
    },
    timeElapsed() {
      return this.convertMilliseconds(this.model);
    },
    percentageElapsed() {
      return (this.model / this.duration) * 100 + "%";
    }
  },
  methods: {
    convertMilliseconds(ms) {
      const minutes = Math.floor(ms / 60000);
      const seconds = ((ms % 60000) / 1000).toFixed(0);
      return `${this.format(minutes)}:${this.format(seconds)}`;
    },
    format(num) {
      return `${num < 10 ? "0" : ""}${num}`;
    }
  }
};
</script>

<style lang="scss" scoped>
.wrapper {
  margin: 15px;
}
.time {
  display: flex;
  justify-content: space-between;
}
input {
  width: 100%;
  height: 5px;
  padding: 0;
  margin: 0;
  appearance: none;
  opacity: 0.5;
  transition: 0.2s opacity ease-in-out;

  background: linear-gradient(
    to right,
    #bf616a 0%,
    #bf616a var(--percentage-elapsed),
    #fff var(--percentage-elapsed),
    white 100%
  );

  &:hover,
  &:active {
    opacity: 1;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white; //#bf616a;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white; //#bf616a;
    cursor: pointer;
  }
}
</style>
