<template>
  <div class="search-field">
    <input
      type="text"
      v-model="query"
      placeholder="Search for artists and songs"
      @input="search"
    />
  </div>
</template>

<script>
import debounce from "lodash.debounce";

export default {
  computed: {
    query: {
      get() {
        return this.$store.getters["search/searchQuery"];
      },
      set(value) {
        this.$store.commit("search/SET_SEARCH_QUERY", value);
      }
    }
  },
  methods: {
    search: debounce(function() {
      this.query
        ? this.$store.dispatch("search/FETCH_SEARCH_RESULT", this.query)
        : this.$store.commit("search/CLEAR_SEARCH_RESULT");
    }, 200)
  }
};
</script>

<style lang="scss" scoped>
.search-field {
  padding: 0 1rem 0 1rem;
}
input {
  width: 100%;
  height: 1.6rem;
  border-radius: 5px;
  padding: 0.3rem;
}
</style>
