<template>
  <div class="spotify-connect" @click="spotifyLogin">
    <font-awesome-icon
      class="icon"
      :icon="['fab', 'spotify']"
      size="4x"
      :style="{ color: iconColor, transition: 'all .5s ease' }"
    />
    <div v-if="!me">Log in</div>
    <div v-else>
      <div class="label">logged in as</div>
      <div class="username">{{ me.username }}</div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState("user", {
      me: state => state.services.spotify.me
    }),
    iconColor() {
      return this.me ? "#1db954" : "grey";
      
    }
  },
  methods: {
    spotifyLogin() {
      if (!this.me)
        window.location.href = "http://localhost:9000/spotify/login";
    }
  }
};
</script>

<style lang="scss" scoped>
.spotify-connect {
  display: grid;
  grid-template-columns: auto 1fr;

  .label {
    font-size: 0.6rem;
  }

  .username {
    font-weight: bold;
  }

  div {
    padding-left: 0.2rem;
    align-self: center;
  }
}
</style>
