<template>
  <div class="search">
    <Search></Search>
    <div class="results" v-if="searchQuery">
      <div class="artists list" v-if="result.artists">
        <div
          class="item"
          v-for="artist in topArtists"
          :key="artist.id"
          @click="goToArtist(artist.id)"
        >
          <img v-if="artist.images[0]" :src="artist.images[0].url" alt="" />
          <font-awesome-icon class="no-image" icon="user-astronaut" v-else />
          <div class="text">
            <div class="name">{{ artist.name }}</div>
            <div>Artist</div>
          </div>
        </div>
      </div>

      <div class="tracks list" v-if="result.tracks">
        <div class="item" v-for="track in topTracks" :key="track.id">
          <img
            v-if="track.album.images[0]"
            :src="track.album.images[0].url"
            alt=""
          />
          <font-awesome-icon class="no-image" icon="user-astronaut" v-else />
          <div class="text">
            <div class="name">{{ track.name }}</div>
            <div>
              Song by
              {{ track.artists[0].name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Search from "@/components/Search";
import { mapState } from "vuex";

export default {
  components: {
    Search
  },
  data() {
    return {
      query: ""
    };
  },
  computed: {
    ...mapState("search", {
      result: state => state.searchResult,
      topArtists: state => state.searchResult.artists.slice(0, 3),
      topTracks: state => state.searchResult.tracks.slice(0, 5),
      searchQuery: state => state.searchQuery
    })
  },
  methods: {
    goToArtist(id) {
      this.$router.push({ name: "artist", params: { id } });
    }
  }
};
</script>

<style lang="scss" scoped>
.results {
  .list {
    display: grid;
    grid-template-rows: 1fr;

    .item {
      padding: 0.5rem;
      display: grid;
      grid-template-columns: 4rem 1fr;
      color: $nord4;

      .text {
        .name {
          font-size: 1.1rem;
        }
        padding-left: 1rem;
        align-self: center;
      }

      img,
      .no-image {
        height: 4rem;
        width: 4rem;
        margin: 0 0.5rem 0 0;
        border-radius: 100%;
      }
    }
  }
}
</style>
