<template>
  <div id="app">
    <app-header></app-header>
    <div id="content" class="content">
      <router-view />
    </div>
    <app-footer></app-footer>
  </div>
</template>

<script>
import Header from "@/components/Header";
import Footer from "@/components/Footer";

export default {
  components: {
    appHeader: Header,
    appFooter: Footer
  },
  created() {
    /* Check if there are any stored tokens in localStorage and set them in
       the vuex store so that we can conveniently get them for later use. */
    const access_token = localStorage.getItem("spotify_access_token");
    const refresh_token = localStorage.getItem("spotify_refresh_token");

    if (access_token && refresh_token) {
      this.$store
        .dispatch("user/SET_SPOTIFY_TOKENS", {
          access_token,
          refresh_token
        })
        .then(() => this.$store.dispatch("user/GET_ME"));
    }
  },
  methods: {}
};
</script>

<style lang="scss">
.main-head,
.main-foot {
  background-color: $nord0;
}
.main-head {
  grid-area: header;
  width: 100%;
}
.content {
  background-color: $nord1;
  grid-area: content;
  overflow: auto;
}
.main-foot {
  grid-area: footer;
  bottom: 0;
  left: 0;
  width: 100%;
}
body {
  margin: 0px;
}
#app {
  margin: 0px;
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows: 39px 1fr 39px;
}
</style>
