<template>
  <div class="album-page" v-if="album">
    <ImageParallax :img="album.images[0].url"></ImageParallax>
    <div class="album-information">
      <div class="album-name">{{ album.name }}</div>
      <div class="album-artist">{{ album.artists[0].name }}</div>
    </div>
    <ul class="list">
      <li
        class="item album"
        v-for="(track, index) in album.tracks"
        :key="track.id"
        @click="playNow(track.id)"
      >
        <span class="number">{{ index + 1 }}</span>
        <span class="name">{{ track.name }}</span>
      </li>
    </ul>
  </div>
</template>

<script>
import ImageParallax from "@/components/ImageParallax";

import getGraphqlClient from "@/lib/getGraphqlClient";
import { getAlbum } from "@/lib/graphql/queries";

export default {
  components: {
    ImageParallax
  },
  data() {
    return {
      album: null
    };
  },
  mounted() {
    this.getAlbum();
  },
  computed: {},
  methods: {
    playNow(id) {
      const url = `http://localhost:5005/Living Room/spotify/now/spotify:track:${id}`;
      fetch(url);
    },
    getAlbum() {
      return getGraphqlClient()
        .query({
          query: getAlbum,
          variables: {
            id: this.$route.params.id
          }
        })
        .then(({ data: { album } }) => {
          this.album = album;
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.album-information {
  font-size: 36px;
  margin-top: -100px;
  margin-bottom: 3rem;
  text-align: center;
  transition: 0.2s opacity cubic-bezier(0.39, 0.575, 0.565, 1);
  position: relative;

  .album-artist {
    font-size: 1rem;
  }
}

.list {
  .item {
    display: grid;
    grid-template-columns: 1rem 1fr;
    padding: 0.5rem 1rem;
    color: $nord4;

    .name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 1rem;
      padding: 0.5rem;
    }

    .number {
      font-size: 0.6rem;
      align-self: center;
    }
    padding-left: 1rem;
  }
}
</style>
