<template>
  <div class="albums" v-if="albums">
    <div class="list">
      <div
        class="album item"
        v-for="album in albums"
        :key="album.id"
        @click="goToAlbum(album.id)"
      >
        <img v-if="album.images[0]" :src="album.images[0].url" alt="" />
        <div class="text">
          <div class="name">{{ album.name }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "albums",
  computed: {
    ...mapState("user", {
      albums: state =>
        state.services.spotify.me && state.services.spotify.me.albums
    })
  },
  methods: {
    goToAlbum(id) {
      this.$router.push({ name: "album", params: { id } });
    }
  }
};
</script>

<style lang="scss" scoped>
.albums {
  .list {
    display: grid;
    grid-template-rows: 1fr;

    .item {
      padding: 0.5rem;
      display: grid;
      grid-template-columns: 4rem 1fr;
      color: $nord4;

      .text {
        .name {
          font-size: 1.1rem;
        }
        padding-left: 1rem;
        align-self: center;
      }

      img,
      .no-image {
        height: 4rem;
        width: 4rem;
        margin: 0 0.5rem 0 0;
        border-radius: 100%;
      }
    }
  }
}
</style>
